.services_main {
    padding: 20px 20px;
    overflow: hidden;
    .whatwedo{
        color: #9D9D9D;
        font-size: 16px;
        text-align: center !important;
        font-style: normal;
        margin: 0 auto;
        background-image: unset !important;
        background-size: unset !important;
        background-position: -100%;
        display: block;
        padding: 0;
        position: unset;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        transition:unset;
        font-weight: unset;
        line-height: unset;
        text-transform: unset;
    }
    p {
        background-image: linear-gradient(to right,
                #000,
                #000 50%,
                #000 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.6s ease-in-out;
    }

    p:before {
        content: '';
        background: #000;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1px;
        transition: all 0.6s ease-in-out;
    }

    p:hover {
        background-position: 0;
    }

    p:hover::before {
        width: 100%;
    }

    /* Presentational Styles */


    .less_div {
        justify-content: end !important;
    }

    .view_moree {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        display: flex;
        margin-top: 20px;
        align-items: center;
        gap: 10px;

    }

    .smart_contracts {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
        position: relative;
    }

    .one_part {
        padding: 30px;
        border-radius: 30px;
        background: #F4F4F4;
        flex: 0 0 33%;
        transition: flex 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;


        &:hover {
            box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.10);
            cursor: pointer;
            background-color: #fff;
        }
    }

    .inner_services {
        padding: 70px 86px;

        .whatwedo{
            color: #9D9D9D;
            font-size: 16px;
            text-align: center;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            text-transform: uppercase;
        }

        h2 {
            color: #000;
            text-align: center;
            font-size: 80px;
            margin: 0 auto;
            padding-top: 16px;
            padding-bottom: 55px;
            font-style: normal;
            width: 536px;
            font-weight: 400;
            line-height: 100%;
        }

        .thirple_divs {
            display: flex;
            align-items: center;
            gap: 20px;

            span {
                color: #D4D4D4;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
            }

            h3 {
                color: #000;
                font-size: 31.254px;
                padding-top: 9.376px;
                font-style: normal;
                font-weight: 500;
                padding-bottom: 35.942px;
                border-bottom: 1px solid transparent;
                line-height: 100%;
            }

            h3 {
                background-image: linear-gradient(to right,
                        #000,
                        #000 50%,
                        #000 50%);
                background-size: 200% 100%;
                background-position: -100%;
                display: inline-block;
                padding: 5px 0;
                margin-bottom: 25px;
                position: relative;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.6s ease-in-out;
            }

            h3:before {
                content: '';
                background: #000;
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 0.5px;
                transition: all 0.6s ease-in-out;
            }

            h3:hover {
                background-position: 0;
            }

            h3:hover::before {
                width: 100%;
            }

            /* Presentational Styles */


            p {
                color: #000;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                border-bottom: 1px solid transparent;
                padding-bottom: 5px;
                margin-bottom: 10px;
                white-space: nowrap;
                display: inline-block;

                &:hover {
                    // border-bottom: 1px solid #000;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .aboutus_main .meetourteams .teamsimg {
        width: 100%;
        height: 385px;
        object-fit: cover;
        border-radius: 20px;
        overflow: hidden;
    }
    .services_main .smart_contracts {
        display: flex;
        align-items: flex-start;
        gap: 0px;
        flex-direction: column;
    }

    .services_main .one_part {
        padding: 20px;
        border-radius: 30px;
        background: #F4F4F4;
        width: 100%;
    }

    .services_main .inner_services .thirple_divs p {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        border-bottom: 1px solid transparent;
        padding-bottom: 5px;
        margin-bottom: 10px;
        white-space: nowrap;
        display: inline-block;
    }

    .services_main .inner_services .thirple_divs h3 {
        color: #000;
        font-size: 24.254px;
        padding-top: 9.376px;
        font-style: normal;
        font-weight: 500;
        padding-bottom: 10px;
        line-height: 100%;
    }
    .services_main .inner_services .thirple_divs h3 {
        background-image: linear-gradient(to right, #000, #000 50%, #000 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        margin-bottom: 10px !important;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.6s ease-in-out;
    }

    .services_main .inner_services .thirple_divs {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: 40px;
    }

    .services_main .inner_services {
        padding: 0px;
    }

    .services_main .inner_services h2 {
        color: #000;
        text-align: center;
        font-size: 40px;
        margin: 0 auto;
        padding-top: 16px;
        padding-bottom: 55px;
        font-style: normal;
        width: 100%;
        font-weight: 400;
        line-height: 100%;
    }
}

@media (min-width: 1600px) {
    .services_main {
        padding: 1.25vw;

        .one_part {
            padding: 1.875vw;
            border-radius: 1.875vw;
            background: #F4F4F4;
            width: 100%;

            &:hover {
                box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.10);
                cursor: pointer;
                background-color: #fff;
            }
        }

        .inner_services {
            padding: 3.65vw 4.48vw;

            .whatwedo{
                color: #9D9D9D !important;
                font-size: 0.83vw;
                text-align: center;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                text-transform: uppercase;
            }

            h2 {
                color: #000;
                text-align: center;
                font-size: 4.17vw;
                margin: 0 auto;
                padding-top: 16px;
                padding-bottom: 55px;
                font-style: normal;
                width: 27.92vw;
                font-weight: 400;
                line-height: 100%;
            }

            .thirple_divs {
                display: flex;
                align-items: center;
                gap: 1.25vw;

                span {
                    color: #D4D4D4;
                    font-size: 1.04vw;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%;
                }

                h3 {
                    color: #000;
                    font-size: 1.63vw;
                    padding-top: 9.376px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%;
                }

                p {
                    color: #000;
                    font-size: 1.25vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    // border-bottom: 1px solid transparent;
                    padding-bottom: 5px;
                    margin-bottom: 10px;
                    display: inline-block;


                }
            }
        }
         .view_moree{
            font-size: 1vw;
        }
    }


}






.thirple_divs.card-1 .one_part:nth-child(1) {
    flex: 0 0 66%;

    .view_moree {
        opacity: 0;
        pointer-events: none;

        &.less_div {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.thirple_divs.card-1 .one_part:nth-child(3) {
    opacity: 0;
    pointer-events: none;
}


.thirple_divs.card-2 .one_part:nth-child(2) {
    flex: 0 0 66%;

    .view_moree {
        opacity: 0;
        pointer-events: none;

        &.less_div {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.thirple_divs.card-2 .one_part:nth-child(3) {
    opacity: 0;
    pointer-events: none;
}

.thirple_divs.card-3 .one_part:nth-child(3) {
    flex: 0 0 66%;
    transform: translateX(-50%);

    .view_moree {
        opacity: 0;
        pointer-events: none;

        &.less_div {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.thirple_divs.card-3 .one_part:nth-child(2) {
    opacity: 0;
    pointer-events: none;
}

.services_main .smart_contracts .text_ual_div {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out 0.2s;
    opacity: 0;
    pointer-events: none;
}

.thirple_divs.card-1 .text_ual_div1 {
    opacity: 1;
    pointer-events: all;
}

.thirple_divs.card-2 .text_ual_div2 {
    opacity: 1;
    pointer-events: all;
}

.thirple_divs.card-3 .text_ual_div3 {
    opacity: 1;
    pointer-events: all;
}


@media (max-width:600px) {
    .thirple_divs.card-1 .one_part {
        flex: 0 0 100%;
    }

    .services_main .smart_contracts .text_ual_div {
        position: relative;
        top: 0;
        transform: unset;
        height: 0;
        transition: height 0.5s ease-in-out, transform 0.5s ease-in-out, opacity 0s ease-in-out;
    }

    .thirple_divs.card-1 .text_ual_div1 {
        height: auto;
    }

    .thirple_divs.card-2 .text_ual_div2 {
        height: auto;
    }

    .thirple_divs.card-3 .text_ual_div3 {
        height: auto;
    }

    .thirple_divs.card-3 .one_part:nth-child(3) {
        transform: unset
    }

    .thirple_divs.card-3 .one_part:nth-child(2) {
        opacity: 1;
        pointer-events: all;
    }

    .thirple_divs.card-2 .one_part:nth-child(3) {
        opacity: 1;
        pointer-events: all;
    }

    .thirple_divs.card-1 .one_part:nth-child(3) {
        opacity: 1;
        pointer-events: all;
    }

    .services_main .view_moree {
        justify-content: flex-start !important;
    }

    .services_main .view_moree.less_div svg {
        transform: rotate(180deg);
    }

    .thirple_divs.card-3 .one_part:nth-child(3) .view_moree {
        margin: 0;
        height: 0;

        &.less_div {
            margin-top: 20px;
            height: auto;
        }
    }

    .thirple_divs.card-1 .one_part:nth-child(1) .view_moree {
        margin: 0;
        height: 0;

        &.less_div {
            margin-top: 20px;
            height: auto;
        }
    }

    .thirple_divs.card-2 .one_part:nth-child(2) .view_moree {
        margin: 0;
        height: 0;

        &.less_div {
            margin-top: 20px;
            height: auto;
        }
    }

    .services_main .inner_services .thirple_divs {
        gap: 20px;
    }

}