.smart_contract {
    padding: 20px;

    .solution {
        padding: 90px 170px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 204px;

        h1 {
            color: #000;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            /* 28px */

        }

        p {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            padding-top: 35.94px;
            line-height: 120%;
            /* 21.6px */
        }

        h2 {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 21.6px */
        }
    }

    .Development {
        padding: 60px 40px;


        h2 {
            color: #000;
            text-align: center;
            font-size: 70px;
            font-style: normal;
            width: 932px;
            font-weight: 400;

            margin: 0 auto;
            margin-bottom: 60px;
            line-height: 100%;
            /* 70px */
        }

        .mains_cardss {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 15px;

            a {
                text-decoration: unset !important;
                color: unset !important;
                height: 100% !important;
            }

            .card__one {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: 100%;
                padding: 30px;
                border-radius: 30px;
                background: #F4F4F4;
                cursor: pointer;

                .names_tags {
                    color: #000;
                    font-size: 18px;
                    padding-top: 40px;
                    padding-bottom: 10px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%;
                        display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
                    /* 18px */
                }
            }

            .card__one:hover {

                background: #FFF;
                box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
            }
        }
    }

    .Application {
        padding: 85px 55px;
        border-radius: 40px;
        background: #F4F4F4;
        display: grid;
        grid-template-columns: 1.8fr 2fr;
        gap: 142px;

        .top_parents {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .parents_cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;

            .cardee {
                padding: 30px;
                border-radius: 30px;
                background: #EEE;
                cursor: pointer;

                h3 {
                    color: #000;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%;
                    /* 18px */
                    padding-top: 30px;
                    padding-bottom: 10px;
                }

                p {
                    color: #616161;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;

                    line-height: 120%;
                    /* 16.8px */
                }
            }

            .cardee:hover {
                background: #FFF;
                box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
            }
        }

        .inner__textt {

            .contratt {
                color: #000;
                font-size: 50px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%;
                /* 55px */
            }

            p {
                color: #616161;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 19.2px */
                width: 349px;
                padding-top: 30px;
            }
        }
    }

    .inner_data {
        position: relative;
        height: 674px;
        border-radius: 40px;
        overflow: hidden;

        .downarrow {
            position: fixed;
            bottom: 120px;
            right: 30px;
            z-index: 9999;
            cursor: pointer;

            &.setarrowup {
                transform: rotate(180deg);
            }
        }

        .main-banner-video {
            position: absolute;
            height: 100%;
            object-fit: cover;
            object-position: center;
            top: 0px;
            right: 0;
            width: 100%;
            z-index: -2;
        }

        .blogdetail {

            .parenttext {
                position: absolute;
                bottom: 59px;
                left: 40px;

                .mainarrowpic {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }

                .mainpara {
                    color: #000;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%;
                    /* 80px */
                    width: 927px;
                    margin-top: 30px;
                    margin-bottom: 25px;
                }

                .para {
                    width: 700px;
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 20.8px */
                }

                .hometexttt {
                    color: #9D9D9D;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    /* 20.8px */
                }

                .twicebtn {

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;

                    p {
                        color: #9D9D9D;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 20.8px */
                    }

                    span {
                        color: #000;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                        /* 20.8px */
                    }

                    button {
                        border-radius: 30px;
                        border: 1px solid #000;
                        background: rgba(255, 255, 255, 0.08);
                        backdrop-filter: blur(7.5px);
                        padding: 8px 14px 10px 14px;
                        max-width: 111px;
                        width: 100%;
                        color: #000;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                    }
                }
            }
        }

    }
}

.resourse_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 75px;

    .cardds_insides {
        padding: 30px;
        border-radius: 30px;
        background: #EEE;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
        position: relative;

        &:hover {
            border-radius: 30px;
            background: #FFF;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
        }

        .upper_arrww {
            position: absolute;
            top: 50%;
            right: -97px;
            z-index: 999;
        }

        h3 {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            /* 18px */
            padding-top: 30px;
        }

        p {
            color: #616161;
            padding-top: 10px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 16.8px */
        }
    }
}

.worksresourcse {
    border-radius: 40px;
    background: #F4F4F4;
    padding: 55px;

}

.cards_options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 50px;

    .newlycards {
        padding: 30px;
        border-radius: 30px;
        background: #F4F4F4;
        display: flex;
        align-items: center;
        gap: 30px;

        h4 {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            /* 18px */
            text-transform: capitalize !important;
        }

        p {
            color: #616161;
            font-size: 14px;
            padding-top: 10px;
            display: flex;
            align-items: flex-start !important;
            text-align: start !important;
            font-style: normal;
            text-transform: capitalize !important;
            font-weight: 400;
            line-height: 120%;
            /* 16.8px */
        }
    }
}

.Development {
    .innnner_tecnlogies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;

        .tech_cardssss {
            padding: 30px;
            border-radius: 30px;
            background: #F4F4F4;

            &:hover {
                border-radius: 30px;
                background: #FFF;
                box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
            }

            h3 {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 16px */
                padding-top: 40px;
            }
        }
    }
}

.developer_div_mains {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 40px;
    gap: 443px;
    overflow: hidden;
    padding: 55px;
    padding-top: 130px;
    border-radius: 40px;
    height: 490px;
    background: #F4F4F4;

    .wasifimg {
        position: absolute;
        width: 490px;
        // object-fit: cover;
        height: 468px;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .left_side___new {
        z-index: 9999;

        h2 {
            color: #000;
            font-size: 56px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            /* 56px */
        }

        h3 {
            color: #000;
            font-size: 38px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%;
            /* 41.8px */
            padding-top: 30px;
            padding-bottom: 30px;
        }

        p {
            color: #616161;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 19.2px */
        }
    }

    .right_side_new {
        .nnnew_innner {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 30px;

            span {
                color: #616161;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                /* 19.2px */
            }

            p {
                color: #000;
                font-size: 26px;
                padding-top: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 26px */
            }
        }

        p {
            color: #616161;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            /* 19.2px */
            padding-top: 20px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .smart_contract .inner_data .blogdetail .parenttext .twicebtn {
    display: flex
;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.smart_contract .inner_data .blogdetail .parenttext .twicebtn span {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
    .forms_div_section {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100% !important;
        position: absolute;
        right: 0px !important;
        bottom: 6px !important;
        padding: 20px;
    }

    .smart_contract .mydata {
        position: relative;
        height: 830px !important;
        border-radius: 40px;
        overflow: hidden;
    }

    .Development .innnner_tecnlogies {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        gap: 15px;
    }

    .developer_div_mains {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        margin-top: 40px;
        grid-gap: 443px;
        gap: 420px;
        overflow: hidden;
        padding: 30px;
        padding-top: 30px;
        border-radius: 40px;
        height: 100%;
        background: #F4F4F4;
    }

    .developer_div_mains .left_side___new h3,
    .developer_div_mains .left_side___new .h3 {
        color: #000;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .developer_div_mains .left_side___new h2,
    .developer_div_mains .left_side___new .h2 {
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
    }

    .developer_div_mains .wasifimg {
        position: absolute;
        top: 53%;
        width: 482px;
        height: 355px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .developer_div_mains .thenew {
        position: absolute;
        top: 44% !important;
        width: 482px;
        height: 355px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .developer_div_mains .umarimg {
        position: absolute;
        top: 47% !important;
        width: 482px;
        height: 355px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .resourse_cards .cardds_insides .upper_arrww {
        position: absolute;
        top: 50%;
        right: -97px;
        display: none;
        z-index: 999;
    }

    .worksresourcse {

        background: unset !important;
        gap: 20px !important;
    }

    .cards_options {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        margin-top: 50px;
    }

    .contact_us_main .left_siide .spantextt {
        color: #000 !important;
        width: 100% !important;
        font-size: 22px !important;
        font-style: normal;
        font-weight: 400 !important;
        line-height: 140%;
        text-transform: capitalize !important;
        padding-bottom: 15px;
    }

    .resourse_cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 75px;
        gap: 75px;
    }

    .smart_contract .solution {
        padding: 90px 170px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        /* gap: 204px; */
        padding: 30px 20px;
    }

    .smart_contract {
        padding: 20px 5px;
    }

    .smart_contract .inner_data .blogdetail .parenttext .mainpara {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .smart_contract .inner_data .blogdetail .parenttext .para {
        width: 100%;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        padding-right: 20px;
    }

    .smart_contract .inner_data .blogdetail .parenttext .twicebtn p {
        color: #9D9D9D;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    .smart_contract .inner_data .blogdetail .parenttext .twicebtn h2 {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    .smart_contract .inner_data .blogdetail .parenttext {
        position: absolute;
        bottom: 101px;
        left: 15px;
    }

    .smart_contract .inner_data .blogdetail .newtext {
        position: absolute;
        top: 101px;
        left: 15px;
    }

    .smart_contract .inner_data .downarrow {
        display: none;
    }

    .smart_contract .solution h1 {
        color: #000;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
    }

    .smart_contract .Development {
        padding: 30px 15px;
    }

    .smart_contract .Development h2 {
        color: #000;
        text-align: center;
        font-size: 26px;
        font-style: normal;
        width: 100%;
        font-weight: 400;
        margin: 0 auto;
        margin-bottom: 60px;
        line-height: 100%;
    }

    .smart_contract .Development .mains_cardss {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        gap: 15px;
    }

    .smart_contract .Application {
        padding: 60px 15px;
        border-radius: 40px;
        background: #F4F4F4;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 142px;
        gap: 30px;
    }

    .smart_contract .Application .inner__textt .contratt {
        color: #000;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
    }

    .smart_contract .Application .inner__textt p {
        color: #616161;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        width: 100%;
        padding-top: 30px;
    }

    .smart_contract .Application .parents_cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        gap: 15px;
    }
}

@media (min-width: 1600px) {

    .forms_div_section {
        display: flex;
        flex-direction: column;
        gap: 0.9375vw !important; // 15px
        width: 29.1875vw !important; // 467px
        position: absolute;
        right: 1.875vw !important; // 30px
        bottom: 5.3125vw !important; // 85px

        button {
            color: #C1FF14;
            font-size: 1vw !important; // 16px
            font-style: normal;
            padding: 1.3125vw 2vw !important; // 21px 32px
            margin-top: 1.5625vw !important; // 25px
            border-radius: 9.375vw !important; // 150px
            background: #000;
            border: unset;
            font-weight: 400;
            line-height: 120%; // or use 1.2
        }

        .inputttunner {
            display: flex;
            align-items: center;
            gap: 0.9375vw !important; // 15px
            width: 100%;
        }

        input {
            padding: 1.25vw 1.375vw !important; // 20px 22px
            border-radius: 0.9375vw !important; // 15px
            border: unset;
            outline: unset;
            width: 100%;
            background: #FFF;
            color: #000;
            font-size: 1vw; // 16px
            font-style: normal;
            font-weight: 400;
            line-height: 130%; // or use 1.3
        }

        ::placeholder {
            color: #9D9D9D;
            font-size: 1vw !important; // 16px
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }

        textarea {
            padding: 1.25vw 1.375vw; // 20px 22px
            border-radius: 0.9375vw; // 15px
            border: unset;
            outline: unset;
            background: #FFF;
            color: #000;
            font-size: 1vw; // 16px
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }

        ::placeholder {
            color: #9D9D9D;
            font-size: 1vw; // 16px
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }
    }

    .resourse_cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 4.6875vw; // 75px

        .cardds_insides {
            padding: 1.875vw; // 30px
            border-radius: 1.875vw; // 30px
            background: #EEE;
            box-shadow: 0px 0.125vw 0.625vw 0px rgba(0, 0, 0, 0.06);
            position: relative;

            &:hover {
                border-radius: 1.875vw;
                background: #FFF;
                box-shadow: 0px 0.125vw 0.625vw 0px rgba(0, 0, 0, 0.06);
            }

            .upper_arrww {
                position: absolute;
                top: 50%;
                right: -6.0625vw; // -97px
                z-index: 999;
            }

            h3 {
                color: #000;
                font-size: 1.125vw; // 18px
                padding-top: 1.875vw; // 30px
            }

            p {
                color: #616161;
                padding-top: 0.625vw; // 10px
                font-size: 0.875vw; // 14px
            }
        }
    }

    .worksresourcse {
        border-radius: 2.5vw; // 40px
        background: #F4F4F4;
        padding: 3.4375vw; // 55px
    }

    .cards_options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3.125vw; // 50px
        margin-top: 3.125vw; // 50px

        .newlycards {
            padding: 1.875vw; // 30px
            border-radius: 1.875vw; // 30px
            background: #F4F4F4;
            display: flex;
            align-items: center;
            gap: 1.875vw; // 30px

            h4 {
                font-size: 1.125vw; // 18px
            }

            p {
                font-size: 0.875vw; // 14px
                padding-top: 0.625vw; // 10px
            }
        }
    }

    .smart_contract {
        padding: 1.25vw;

        .solution {
            padding: 5.625vw 10.625vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 12.75vw;

            h1 {
                color: #000;
                font-size: 1.75vw;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
            }

            p {
                color: #000;
                font-size: 1.125vw;
                font-style: normal;
                font-weight: 400;
                padding-top: 2.246vw;
                line-height: 120%;
            }

            h2 {
                color: #000;
                font-size: 1.125vw;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }

        .Development {
            padding: 3.75vw 2.5vw;

            h2 {
                color: #000;
                text-align: center;
                font-size: 4.375vw;
                font-style: normal;
                width: 58.25vw;
                font-weight: 400;
                margin: 0 auto;
                margin-bottom: 3.75vw;
                line-height: 100%;
            }

            .mains_cardss {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 0.9375vw;

                .card__one {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 1.875vw;
                    border-radius: 30px;
                    background: #F4F4F4;
                    cursor: pointer;

                    .names_tags {
                        color: #000;
                        font-size: 1.125vw;
                        padding-top: 2.5vw;
                        padding-bottom: 0.625vw;
                        font-style: normal;
                        font-weight: 500;
                        height: 5vw;
                        line-height: 100%;
                    }
                }

                .card__one:hover {
                    background: #FFF;
                    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
                }
            }
        }

        .Application {
            padding: 5.3125vw 3.4375vw;
            border-radius: 40px;
            background: #F4F4F4;
            display: grid;
            grid-template-columns: 1.8fr 2fr;
            gap: 8.875vw;

            .top_parents {
                display: flex;
                flex-direction: column;
                gap: 0.9375vw;
            }

            .parents_cards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0.9375vw;

                .cardee {
                    padding: 1.875vw;
                    border-radius: 30px;
                    background: #EEE;
                    cursor: pointer;

                    h3 {
                        color: #000;
                        font-size: 1.125vw;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 100%;
                        padding-top: 1.875vw;
                        padding-bottom: 0.625vw;
                    }

                    p {
                        color: #616161;
                        font-size: 0.875vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }

                .cardee:hover {
                    background: #FFF;
                    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.06);
                }
            }

            .inner__textt {
                .contratt {
                    color: #000;
                    font-size: 3.125vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%;
                }

                p {
                    color: #616161;
                    font-size: 1vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    width: 21.8125vw;
                    padding-top: 1.875vw;
                }
            }
        }

        .inner_data {
            position: relative;
            height: 42.125vw;
            border-radius: 40px;
            overflow: hidden;

            .downarrow {
                position: absolute;
                bottom: 2.5vw;
                right: 1.875vw;
                z-index: 9999;
                cursor: pointer;
            }

            .main-banner-video {
                position: absolute;
                height: 100%;
                object-fit: cover;
                object-position: center;
                top: 0px;
                right: 0;
                width: 100%;
                z-index: -2;
            }

            .blogdetail {
                .parenttext {
                    position: absolute;
                    bottom: 3.6875vw;
                    left: 2.5vw;

                    .mainarrowpic {
                        position: absolute;
                        top: 1.25vw;
                        right: 1.25vw;
                    }

                    .mainpara {
                        color: #000;
                        font-size: 5vw;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 100%;
                        width: 57.9375vw;
                        margin-top: 1.875vw;
                        margin-bottom: 1.5625vw;
                    }

                    .para {
                        width: 43.75vw;
                        color: #000;
                        font-size: 1vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%;
                    }

                    .twicebtn {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 0.5vw;

                        h1 {
                            color: #9D9D9D;
                            font-size: 1vw;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                        }

                        h2 {
                            color: #000;
                            font-size: 1vw;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                        }

                        button {
                            border-radius: 30px;
                            border: 1px solid #000;
                            background: rgba(255, 255, 255, 0.08);
                            backdrop-filter: blur(7.5px);
                            padding: 0.5vw 0.875vw 0.625vw 0.875vw;
                            max-width: 6.9375vw;
                            width: 100%;
                            color: #000;
                            font-size: 0.875vw;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 100%;
                        }
                    }
                }
            }
        }
    }


}

@media only screen and (max-width: 1300px) {
    .smart_contract .inner_data .blogdetail .newtext {
        position: absolute;
        top: 101px;
        left: 15px;
    }

    .smart_contract .mydata {
        position: relative;
        height: 830px !important;
        border-radius: 40px;
        overflow: hidden;
    }

    .forms_div_section {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100% !important;
        position: absolute;
        right: 0px !important;
        bottom: 6px !important;
        padding: 20px;
    }
}

// .new_details_pagee{
//     display: flex;
//     align-items: center;
// }
.forms_div_section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 467px;
    position: absolute;
    right: 30px;
    bottom: 28px;
    .errror_mssg{
        padding-top: 10px;
    }

    button {
        color: #C1FF14;
        font-size: 16px;
        font-style: normal;
        padding: 21px 32px;
        margin-top: 25px;
        border-radius: 150px;
        background: #000;
        border: unset;
        font-weight: 400;
        line-height: 120%;
        /* 19.2px */
    }

    .inputttunner {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    input {
        padding: 20px 22px;
        border-radius: 15px;
        border: unset;
        outline: unset;
        width: 100%;
        background: #FFF;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 20.8px */
    }

    ::placeholder {
        color: #9D9D9D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 20.8px */
    }

    textarea {
        padding: 20px 22px;
        border-radius: 15px;
        border: unset;
        outline: unset;
        background: #FFF;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 20.8px */
    }

    ::placeholder {
        color: #9D9D9D;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 20.8px */
    }
}
.bookinterview_button{
    color: #C1FF14;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 16.8px */
padding: 12px 22px;
border-radius: 150px;
background: #000;
border: unset;
margin-top: 20px;
}


.small_text{
    text-transform: lowercase !important;
}