.blogs_divv {
    padding: 30px 0px 30px 20px;

    .inner_bloggs {
        padding: 30px 0px 30px 30px;

        .textual_div {
            .blogstag{
                color: #9D9D9D;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                /* 20.8px */
                text-transform: uppercase;
            }

            h2 {
                color: #000;
                font-size: 70px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 70px */
                padding-top: 16px;
                margin-bottom: 30px;
            }
        }

        .bottom_side {
            .owl-theme .owl-nav {
                margin-top: 10px;
                text-align: center;
                -webkit-tap-highlight-color: transparent;
                position: absolute;
                top: -90px;
                right: 60px;
            }

            .owl-theme .owl-nav [class*='owl-']:hover {
                background: unset !important;
                color: #FFF;
                text-decoration: none;
            }

            .cardss {
                overflow: hidden;

                h1 {
                    color: #9D9D9D;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%;
                    /* 12px */
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    margin-bottom: 15px;
                    gap: 10px;
                }

                h2 {
                    color: #000;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%;
                    /* 19.8px */
                    margin-top: 15px;
                    margin-bottom: 10px;

                }


                $speed: 0.7s;
                .btn-flip {
                    opacity: 1;
                    color: #000;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%;
                    outline: 0;
                    position: relative;
                    text-align: start;
                    display: -webkit-box; /* For Safari */
                    display: -webkit-flex; /* For other browsers */
                    display: flex; /* Use flexbox */
                    box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 2; /* Limit to 2 lines */

                    perspective: 1000px;
                    text-decoration: none;
                    width: 100%;
                    height: 43px; /* Adjust as needed */

                }


                .front, .back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    transition: transform 0.6s, opacity 0.6s;
                    display: -webkit-box; /* For Safari */
                    display: -webkit-flex; /* For other browsers */
                    display: flex; /* Use flexbox */
                    box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 2; /* Limit to 2 lines */

                    perspective: 1000px;
                    text-decoration: none;
                    width: 100%;
                    height: 43px; /* Adjust as needed */
                }

                .front {
                    background: transparent;
                    color: #000; /* Front text color */
                    transform: translateY(0) rotateX(0);
                }

                .back {
                    background: transparent;
                    color: #000;
                    transform: translateY(50%) rotateX(90deg);
                    opacity: 0;
                }




                span{
                    color: #838383;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    margin-top: 10px;
                    /* 12px */
                    padding-bottom: 15px;
                }

                .imginnner {

                    border-radius: 20px;


                }

                &:hover{
                    .btn-flip .front {
                        opacity: 0;
                        transform: translateY(-50%) rotateX(-90deg);
                    }

                    .btn-flip .back {
                        opacity: 1;
                        transform: translateY(0) rotateX(0);
                    }
                    .imginnner {
                        transform: scale(1.1);
                        /* Scale up on hover */
                        border-radius: 40px;
                        overflow: hidden;
                    }
                }
            }
        }

    }
}

.imginnner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 40px;
    border: 1px solid #F0F0F0;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    /* Smooth transition for both hover in and out */
}



.blogs_img {
    overflow: hidden;
    border-radius: 20px;
}

@media only screen and (max-width: 991px) {
    .blogs_divv .inner_bloggs {
        padding: 0px;
    }

    .blogs_divv .inner_bloggs .textual_div h2 {
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        padding-top: 16px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1600px) {
    .blogs_divv {
        padding: 1.875vw 0vw 1.875vw 1.25vw;

        .inner_bloggs {
            padding: 1.875vw 0vw 1.875vw 1.875vw;

            .textual_div {
                .blogstag{
                    color: #9D9D9D;
                    font-size: 1vw;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                    text-transform: uppercase;
                }

                h2 {
                    color: #000;
                    font-size: 4.375vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%;
                    padding-top: 1vw;
                    margin-bottom: 1.875vw;
                }
            }

            .bottom_side {
                .owl-theme .owl-nav {
                    margin-top: 0.625vw;
                    text-align: center;
                    -webkit-tap-highlight-color: transparent;
                    position: absolute;
                    top: -5.625vw; /* -90px */
                    right: 3.75vw; /* 60px */
                }

                .owl-theme .owl-nav [class*='owl-']:hover {
                    background: unset !important;
                    color: #FFF;
                    text-decoration: none;
                }

                .cardss {
                    overflow: hidden;

                    h1 {
                        color: #9D9D9D;
                        font-size: 0.75vw;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 100%;
                        display: flex;
                        align-items: center;
                        margin-top: 1.25vw;
                        gap: 0.625vw;
                    }

                    h2 {
                        color: #000;
                        font-size: 1.125vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 110%;
                        margin-top: 0.9375vw;
                        margin-bottom: 0.625vw;
                    }

                    $speed: 0.7s;

                    .btn-flip {
                        opacity: 1;
                        color: #000;
                        font-size: 1.125vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 110%;
                        outline: 0;
                        position: relative;
                        text-align: start;
                        display: inline-block;
                        text-decoration: none;
                        width: 100%;
                        height: 3.6875vw;
                        overflow: hidden;

                        perspective: 1000px;
                    }

                    .front, .back {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        padding-top: 0.9375vw;
                        padding-bottom: 0.625vw;
                        transition: transform 0.6s, opacity 0.6s;
                    }

                    .front {
                        background: transparent;
                        color: #000; /* Front text color */
                        transform: translateY(0) rotateX(0);
                    }

                    .back {
                        background: transparent;
                        color: #000;
                        transform: translateY(3.125vw) rotateX(90deg);
                        opacity: 0;
                    }

                span {
                        color: #838383;
                        font-size: 0.75vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 100%;
                    }

                    .imginnner {
                        border-radius: 2.5vw;
                    }

                    &:hover {
                        .btn-flip .front {
                            opacity: 0;
                            transform: translateY(-3.125vw) rotateX(-90deg);
                        }

                        .btn-flip .back {
                            opacity: 1;
                            transform: translateY(0) rotateX(0);
                        }

                        .imginnner {
                            transform: scale(1.1);
                            border-radius: 2.5vw;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }

    .imginnner {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        border-radius: 2.5vw;
        border: 1px solid #F0F0F0;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s;
    }

    .blogs_img {
        overflow: hidden;
        border-radius: 2.5vw;
    }


}
.bodddyweight{
    color: #000;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 23.4px */
}